<h1>Exhibition in Focus</h1>

<p><%= @exhibition.name %></p>
<p><%= @exhibition.category%></p>
<p><%= @exhibition.artist %></p>


<!-- <form action="/exhibition/<%= @exhibition.id %>/edit" method="get">
  <input type="submit" value="Edit Exhibition">
</form>

<form action="/exhibition/<%= @exhibition.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form> -->
