<h1>Exhibition in Focus</h1>

<p><%= @exhibition.name%></p>
<p><%= @exhibition.category%></p>
<p><%= @exhibition.artist.first_name%></p>
<p><%= @exhibition.exhibition_info%></p>
<img src="<%= @exhibition.exhibit_img%>" alt="<%=@exhibition.name%>">
